/Debug/
/Release/
/Release_OTA/

# STM32CubeIDE build output
Bank_A/
Bank_B/

# Generated build artifacts
/Core/Src/packed_fs.c
/scripts/_pack_work/

# Web build
/web_root/dist/
/web_root/node_modules/
*.o
.aider*

# STM32CubeMX temp file
mx.scratch

# Принудительное отслеживание папки Proshivka и её содержимого
!**/Proshivka/
!**/Proshivka/**